@if (this.id === 0) {
    <h2>Adicionar Produto:</h2>
} @else {
    <h2>Editar Produto:</h2>
}

<div class="card flex justify-content-center">
    <p-fileUpload 
        mode="basic" 
        chooseLabel="Subir imagem" 
        chooseIcon="pi pi-upload"
        name="demo[]" 
        accept="image/*" 
        (onSelect)="onUpload($event)" />
</div>

<form [formGroup]="form" class="form">
    <span class="p-float-label form-container">
        <input pInputText id="name" formControlName="name" />
        <label for="name">Name</label>
    </span>
    <span class="p-float-label form-container">
        <textarea id="description" rows="5" cols="23" pInputText formControlName="description"></textarea>
        <label for="description">Descrição</label>
    </span>
    <span class="p-float-label form-container">
        <input pInputText id="price" formControlName="price" />
        <label for="price">Price</label>
    </span>
    <span class="p-float-label form-container">
        <input pInputText id="stock" formControlName="stock" />
        <label for="stock">Estoque</label>
    </span>
    <div class="form-container">
        <p-dropdown 
            [options]="suppliers" 
            optionLabel="name"
            optionValue="id"
            placeholder="Selecione um fornecedor"
            formControlName="supplierId" />
    </div>

    <p-button severity="success" (onClick)="saveProduct()" [disabled]="!this.form.valid">
        Salvar
    </p-button>
</form>
