<p-button (onClick)="navigateToSupplierSave(0)">
    Novo Fornecedor
</p-button>

<p-card header="Fornecedores">
    <p-table [value]="suppliers" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Nome</th>
                <th>Document</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.document }}</td>
                <td>
                    <p-button severity="success" size="small" (onClick)="navigateToSupplierSave(product.id)">
                        <i class="pi pi-pencil"></i>
                    </p-button>
                    <p-button severity="danger" size="small" (onClick)="deleteSupplier(product.id)">
                        <i class="pi pi-trash"></i>
                    </p-button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-card>